*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "outfit", sans-serif;
}

.wrapper {
    height: 100vh;
    background-color: #1b1d28;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper h2 {
    margin-bottom: 80px;
    color: #fff;
    font-weight: 200;
    text-transform: capitalize;
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}